body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-menu {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: white;
    
}

.btn-volver {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #18AC54;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-volver:hover {
        background-color: #D0D83A;
        color: black;
    }

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .card img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .card h6 {
        margin: 10px 0;
        font-size: 16px;
        color: #333;
    }

@media (max-width: 768px) {
    .grid-container {
        flex-direction: column;
        align-items: center;
    }
}


.card.disabled {
    pointer-events: none; /* Desactiva los clics */
    opacity: 0.5; /* Hace que se vea deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a uno de prohibido */
}
