---
const backendUrl: string = import.meta.env.VITE_BACKEND_URL || '';
---


  <!-- Sección de Autenticación -->
  <div class="text-center mt-8 h-[50vh] max-w-[50vw] mx-auto rounded-lg  bg-gray-900 mb-9 pt-20 border shadow-teal-300 shadow-md" >
    <h1 class="text-2xl font-extrabold">Login</h1>
    <p class="text-gray-100 mb-10">Inicia sesión para acceder a tu cuenta y usar mas funciónes.</p>
    <a
      href={`${backendUrl}/auth/google`}
      class="bg-blue-500  text-white px-4 py-2 rounded"
    >
      Iniciar sesión con Google
    </a>
  </div>
