---
const backendUrl: string = import.meta.env.VITE_BACKEND_URL || '';
---


  <!-- Secci贸n de Autenticaci贸n -->
  <div class="text-center mt-8">
    <h1 class="text-2xl font-bold">Toolbox</h1>
    <p class="text-gray-600 mb-10">Una herramienta para la gesti贸n de documentos</p>
    <a
      href={`${backendUrl}/auth/google`}
      class="bg-blue-500  text-white px-4 py-2 rounded"
    >
      Iniciar sesi贸n con Google
    </a>
  </div>
