---

---

<footer class="mx-auto mt-5 w-full max-w-container px-4 sm:px-6 lg:px-8" aria-labelledby="footer-heading">
    <div class="items-centers grid grid-cols-1 justify-between gap-4  border-gray-100 py-6 md:grid-cols-2">
        <p class="text-sm/6 text-gray-600 max-md:text-center">
            ©
            <!-- -->2024
            <!-- -->
            <a href="https://algo.algo.com/">Aprende con MrDUFYGY</a>. Todos los derechos reservados.
        </p>
        <div class="flex items-center justify-center space-x-4 text-sm/6 text-gray-500 md:justify-end">
            <a href="https://algo.algo">Politica de privacidad</a>
            <div class="h-4 w-px bg-gray-200"></div>
            <a href="https://algo.algo.com/terms">Terminos</a>
        </div>
    </div>
</footer>