---
const { text } = Astro.props;
---
<h3 class="flex items-center w-full">
    <span class="flex-grow bg-gray-200 rounded h-1"></span>
    <span class="mx-3 text-lg font-medium">{text}</span>
    <span class="flex-grow bg-gray-200 rounded h-1"></span>
</h3>