---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import BGAnimated from '../components/BGAnimated.astro';
import ToggleTheme from '../components/ToggleTheme.astro';

const { title, description } = Astro.props;

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Toolbox - {title || 'undefined'}</title>

</head>
<body class=" text-zinc-100">
	<BGAnimated />
    <Nav />
    <slot />
    <Footer />

    <ToggleTheme />
</body>
</html>


<script>
    // Handle theme initialization on the client
    document.addEventListener('DOMContentLoaded', () => {
      const savedTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
      const root = document.documentElement;
  
      // Apply the initial theme
      if (savedTheme === 'dark') {
        root.classList.add('dark');
      } else {
        root.classList.remove('dark');
      }
    });
  </script>